/* Modo Claro */
footer {
  background-color: #134470;
  color: #f8f7f0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 1rem;
  text-align: center;
  transition: background-color 0.3s;
}

footer a {
  color: #f8f7f0;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

footer img {
  width: 24px;
  height: 24px;
}

footer .lado-a-lado {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

footer .lado-a-lado div {
  min-width: 200px;
}

footer .lado-a-lado h3 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #f8f7f0;
}

footer .lado-a-lado ul {
  list-style: none;
  padding: 0;
}

footer .lado-a-lado li {
  margin: 0.3rem 0;
}

footer .curso p {
  margin: 0.3rem 0;
  font-style: italic;
}

footer .logo {
  width: 150px;
  height: auto;
}

/* Modo Escuro */
body.modo-escuro footer {
  background-color: #222b52;
  color: #f8f7f0;
}

body.modo-escuro footer a {
  color: #f8f7f0;
}

body.modo-escuro footer a:hover {
  color: #f8f7f0;
  text-decoration: underline;
}

body.modo-escuro footer .lado-a-lado h3 {
  color: #f8f7f0;
}

/* Responsividade */
@media (max-width: 1023px) {
  footer #contato a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
